html, body {
    overflow-x: hidden;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
}



.sura_link, .sura_link a {
    color: navy;
    text-decoration: none;
    text-align: left;
}

.sura_link:hover {
    background-image: url('/navbar.png');
}

@font-face {
    font-family: "Scheherazade";
    src: url(/ScheherazadeRegOT.ttf) format("truetype");
}


.quran_font {
    font-family: Scheherazade, Traditional Arabic;
}

.quran_text {
    line-height: 2;
    font-size: 30px;
	background-color: #FFFFBB; 
}

.quran_section {
    text-align: justify;
    padding: 10px;
}

.title-input {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.aya-input {
    width: 100%;
    max-width: 100px;
}

.sura_container {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    /* Force 100% width on Mobile */
    .sura_container { width: 100%; }
    
    /* Size Quran text for ideal mobile readability */
    .quran_text { font-size: 28px; line-height: 1.8; }
    
    /* Less padding on the edges */
    body { padding-left: 10px; padding-right: 10px; }
    .quran_section { padding: 5px; }
}

/* Ported from styles.less */
.topic_sura {
	text-decoration: none;
	white-space: nowrap;
	padding: 5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 2px 2px 3px 3px #ccc;
}

.topic_ayat {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 2px 2px 3px 3px #ccc;
}

.sura_section {
	border-radius: 20px;
	box-shadow: 2px 2px 3px 3px #ccc;
}