{% extends "base.html" %}

{% block content %}

<h2 align="center">
بسم الله الرحمن الرحيم
</h2>

<div style="width: 80%; margin-right: 10%" >
السلام عليكم ورحمة الله وبركاته. مرحبا بكم في موقع مواضيع القرآن الكريم
<br>
فكرة هذا الموقع هي اتاحة الفرصة لمستخدمي الموقع لكي يشاركوا نتاج البحث في القرآن الكريم مع الآخرين.
<br>
يوجد تقديم للموقع باللغة الإنجليزية في <a href="http://tarekabdelmaguid.blogspot.com/2009/01/introducing-qurantopicscom.html"> هذه الصفحة </a>.
<br>
فيما يلي بعض المعلومات عن الموقع:
<ul>
<li> يمكن لمستخدمي الموقع إضافة المواضيع عن طريق التسجيل بحساب جوجل أولاً، باستخدام الرابطة علي يسار الشريط الأزرق أعلي الموقع. </li>
<li> الموقع لا يستقبل كلمة السر؛ عملية التسجيل تتم بالكامل عبر خدمات جوجل. </li>
<li> نرجو من راغبي التواصل مع مشرفي الموقع استخدام <a href="http://groups.google.com/group/qurantopics" target="_blank"> مجموعة الرسائل </a>. مشرفوا الموقع يرحبون بكل اقتراحاتكم. </li>
<li> نتوقع من  مضيفي المواضيع توخي العناية والدقة فيما يتعلق بعنوان ومحتوى المواضيع.  </li>
<li> يحتفظ مشرفوا الموقع بالحق في مراجعة، تعديل، أو حذف المواضيع التي تفتقر للمعايير المطلوبة. </li>
<li> مشرفوا الموقع يطلبون مساعدة ضيوف الموقع من أجل الحفاظ علي المحتوى في أفضل صورة ممكنة. </li>
<li> تم تصميم هذا الموقع بجهود فردية من مشرفي الموقع. نأمل أن يجد زوار الموقع فيه الفائدة، كما نأمل أن يشاركوا بأفكارهم ومقترحاتهم. </li>
</ul>
والله ولي التوفيق
<br>
السلام عليكم ورحمة الله وبركاته

<br> <br>
<b> مواقع أخرى مفيدة: </b>

<ul>
<li> <a href="http://quran.al-islam.com/arb/"> http://quran.al-islam.com/arb </a> </li>
<li> <a href="http://www.holyquran.net/"> http://www.holyquran.net </a> </li>
<li> <a href="http://www.islamicity.com/mosque/quran/"> القرآن الكريم على موقع IslamiCity </a> </li>
</ul>

</div>


{% endblock %}