<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        
        <title> {% block title %} مواضيع القرآن الكريم {% endblock %} </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="Keywords" content="quran,topics,quran,qur'an,quran topics,مواضيع القرآن,القرآن,koran" />
        <meta name="Description" content="Create and share Quranic topics" />
        <meta name="verify-v1" content="PkGqCddHUaKd5FRR3hJGP5w7X1eC0d9ImWmT3LtOavw=" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet/less" href="/stylesheets/styles.less">
        <script src="/less-1.3.1.min.js" type="text/javascript"></script>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        {% block script %} {% endblock %}
    </head>
  
    <body dir="rtl">
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
				<div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
	                <a class="brand" href="/">الرئيسية</a>
                    <div class="nav-collapse collapse">
	                    <ul class="nav">
		                <li> <a href="/list_suras" > تصفح القرآن </a> </li>
		                {% if user %}
		                <li> <a href="/topics/add_edit" > أضف موضوعا </a> </li>
		                {% endif %}
		                <li> <a href="http://groups.google.com/group/qurantopics" target="_blank"> مجموعة الرسائل </a> </li>
		                <li>
		                    <a href="/about" > عن الموقع </a>
		                 </li>
	                </ul>
	                <p class="navbar-text pull-left">
	                    {{ user }}
	                    <a href="{{ user_link }}" class="navbar-link">
	                        {% if user %}
	                        خروج
	                        {% else %}
	                         لإنشاء مواضيع جديدة سجل الدخول (بحساب جوجل) 
	                        {% endif %}
	                    </a>
		            </p>

		            <span class="divider-vertical pull-left"></span>
                    <form class="navbar-search pull-left" action="/search" method="post">
                        <input class="search-query" type="text" name="search_for" placeholder="بحث" />
                    </form>
                    </div>
                </div>            
            </div>
        </div>

		<div class="container">
			<div class="hero-unit">
				<h1>مواضيع القرآن الكريم</h1>
				<p>حرر وشارك نتائج بحثك في القرآن الكريم</p>
			</div>
	
			<hr>
			
	        <div style="float: none; clear: both">
	            {% block content %}{% endblock %}
	        </div>
		</div>


        <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="/bootstrap/js/bootstrap-transition.js"></script>
        <script src="/bootstrap/js/bootstrap-collapse.js"></script>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-781377-3");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
      
    </body>

</html>
