{% extends "base.html" %}

{% block title %} إضافة أو تعديل موضوع {% endblock %}

{% block script %}
<script type="text/javascript" src="/edit_topic.js"> </script>
{% endblock %}

{% block content %}

{% if topic.error %}
    <div style="color: red; font-weight: bold" > {{ topic.error }}<br/> </div>
{% endif %}

{% if topic.message %}
    <div class="alert alert-info alert-dismissible fade show"> &nbsp; {{ topic.message }} </div>
    <br/>
{% endif %}

<form method="post">

    {% if topic.topic_id %}
        <input name="topic_id" type="hidden" value="{{ topic.topic_id }}" />
    {% endif %}
    
    <div class="mb-3">
        <label class="form-label"> عنوان الموضوع * </label>
        <input name="title" type="text" class="form-control w-50" value="{{ topic.title }}" />
    </div>
    
    <hr/>
    <label class="form-label"> أضف آيات: </label>
    <div class="row g-2 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label"> رقم السورة *  </label>
        </div>
        <div class="col-auto">
            <input name="sura" type="text" class="form-control form-control-sm" style="width: 60px;"/>
        </div>
        <div class="col-auto">
            <label class="col-form-label"> من آيه *  </label>
        </div>
        <div class="col-auto">
            <input name="from_aya" type="text" class="form-control form-control-sm" style="width: 60px;" />
        </div>
        <div class="col-auto">
            <label class="col-form-label"> حتى آية  </label>
        </div>
        <div class="col-auto">
            <input name="to_aya" type="text" class="form-control form-control-sm" style="width: 60px;" />
        </div>
        <div class="col-auto">
            <label class="col-form-label"> ترتيب </label>
        </div>
        <div class="col-auto">
            <input name="position" type="text" class="form-control form-control-sm" style="width: 60px;" />
        </div>
        <div class="col-auto">
            <input name="add" type="submit" value="أضف" class="btn btn-primary btn-sm">
        </div>
    </div>
    <hr/>             
    		  
    <div class="mb-3 d-flex align-items-center gap-2">
        <input name="remove" type="submit" value="احذف" class="btn btn-danger btn-sm" > |
        <input name="move_to_position" type="submit" value="غير الترتيب إلى:" class="btn btn-secondary btn-sm" >
        <input name="to_position" type="text" class="form-control form-control-sm" style="width: 60px;" />
    </div>
    
    <p/>		  
    
    <table id="ayat_table">
        {% for aya in topic.ayat_display %}
        <tr style="height: 30px">
            <input name="sura_{{ loop.index }}" value="{{ aya.sura_number }}" type="hidden"/>       
            <input name="sura_name_{{ loop.index }}" value="{{ aya.sura_name }}" type="hidden"/>       
            <input name="aya_{{ loop.index }}" value="{{ aya.aya_number }}" type="hidden"/>
            <input name="aya_content_{{ loop.index }}" value="{{ aya.aya_content }}" type="hidden"/>
            <input name="aya_key_{{ loop.index }}" value="{{ aya.aya_key }}" type="hidden"/>
            
            <td class="align-top"> 
                <img src="/left-arrow.png" height="20px" width="20px" onclick="moveSelectedBefor(this)" title="غير ترتيب الآيات المختارة" style="cursor: pointer;" />
                <input type="hidden" name="position_{{ loop.index }}" value="{{ loop.index }}"/>
            </td>
            <td> <input name="selected_{{ loop.index }}" type="checkbox" value="on" class="form-check-input" /> </td>       
            <td class="align-bottom"> {{ loop.index }}. </td>
            <td class="align-bottom"> [{{ aya.sura_number }}:{{ aya.sura_name }}] </td>
            <td class="align-bottom px-2"> ({{ aya.aya_number }}) </td>
            <td class="align-bottom"> {{ aya.aya_content }} </td>
        </tr>
        {% endfor %}
    </table>
    <img src="/down-left-arrow.png" height="20px" width="20px" onclick="moveSelectedBefor(null)" title="غير ترتيب الآيات المختارة" style="cursor: pointer;"/>
  
    <div class="text-center mt-4">
        <hr>
        <input name="save" type="submit" value="احفظ الموضوع" class="btn btn-primary" >
    </div>
</form>

{% endblock %}
