{% extends "base.html" %}

{% block title %} سور القرآن {% endblock %}

{% block content %}

<h2>
  فهرس السور
</h2>

<ul class="nav flex-column nav-pills">
{% for sura in suras %}
	<li class="nav-item">
		<a class="nav-link" href="display_sura/{{ sura.number }}" >
			{{ sura.number }}. 
		    {{ sura.name }}
			( {{ sura.number_of_ayat }}
				{% if sura.number_of_ayat <= 10 %}
												    		 آيات
			    {% else %}
															    آية
			    {% endif %}
			  ) 
	    </a>
	</li>
{% endfor %}
</ul>
    
{% endblock %}