# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore

# If you would like to upload your .git directory, remove the following line:
.git
.gitignore

# Ignore local virtual environments
venv/
env/
.env

# Distribution / packaging
var/

# Ignore Python compiled bytecodes
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore IDE specific folders
.vscode/
.idea/

# Ignore OS specific files
.DS_Store
Thumbs.db
